.App {
  text-align: center;
  padding-bottom: 10px;
}

.title {
  margin-bottom: 10px;
}

.table-container {
  padding: 10px 20px;
}

.card-container {
  text-align: left;
  padding: 10px 20px;
}

.subscribe-button {
  display: inline-block;
}

.reorder-buttons {
  display: inline-block;
  float: right;
}

.reorder-buttons button {
  min-width: 30px !important;
}

.save-cancel-buttons {
  display: inline-block;
}

.save-cancel-buttons button {
  min-width: 70px !important;
}

.auth0-lock.auth0-lock .auth0-lock-header-logo {
  height: 105px !important;
  width: auto !important;
  margin: -3px 0 11px !important;
}

.auth0-lock.auth0-lock .auth0-lock-header-bg .auth0-lock-header-bg-blur {display: inherit !important;
  -webkit-filter: blur(8px) !important;
  -ms-filter: blur(8px) !important;
  filter: blur(8px) !important;
  background-size: 333px !important;
  background-position: 100% 50% !important;
}

.auth0-lock.auth0-lock .auth0-lock-tabs-container {
  position: relative !important;
  margin-bottom: 20px !important;
}
